node_modules/
docs/
coverage/
package-lock.json
yarn.lock
.vscode/

/attacks.js
/board.js
/shogi.js
/compat.js
/csa.js
/csaUtil.js
/variant.js
/variantUtil.js
/transform.js
/setup.js
/squareSet.js
/types.js
/util.js
/debug.js
/fen.js
/hand.js
/hash.js
/index.js
/kifHandicaps.js
/kif.js
/kifUtil.js

/attacks.d.ts
/board.d.ts
/shogi.d.ts
/compat.d.ts
/csa.d.ts
/csaUtil.d.ts
/variant.d.ts
/variantUtil.d.ts
/transform.d.ts
/setup.d.ts
/squareSet.d.ts
/types.d.ts
/util.d.ts
/debug.d.ts
/fen.d.ts
/hand.d.ts
/hash.d.ts
/index.d.ts
/kifHandicaps.d.ts
/kif.d.ts
/kifUtil.d.ts

/attacks.js.map
/board.js.map
/shogi.js.map
/compat.js.map
/csa.js.map
/csaUtil.js.map
/variant.js.map
/variantUtil.js.map
/transform.js.map
/setup.js.map
/squareSet.js.map
/types.js.map
/util.js.map
/debug.js.map
/fen.js.map
/hand.js.map
/hash.js.map
/index.js.map
/kifHandicaps.js.map
/kif.js.map
/kifUtil.js.map
