{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "importOrder": ["^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
