{
  "singleQuote": true,
  "printWidth": 120,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "importOrder": ["^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
